%hr/
%p
  For everyone:
  %span=link_to "src@github", "https://github.com/cao7113/shareup", :target=>'_blank'
  | +core team
  | start up by 
  %span=link_to "Caory", "http://weibo.com/cao7113", :target=>"_blank"
