%table
  %tr
    %td
      =link_to root_path do
        Logo!
    %td
      =link_to 'docs', metadocs_path
      |
      =link_to 'new', new_metadoc_path
    %td
      Search!
    %td
      %table
        %tr
          -if logined?
            %td
              =link_to my_path do
                %span= current_user.nickname
            %td=link_to 'Sign Out', auth_signout_path, :method=>:delete
          -else
            %td= link_to 'Sign In', auth_signin_path
            %td= link_to 'Sign Up', auth_signup_path

